[submodule "Luna/vendor/spdlog"]
	path = Luna/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Luna/vendor/GLFW"]
	path = Luna/vendor/GLFW
	url = https://github.com/410oldfish/glfw
[submodule "Luna/vendor/ImGui"]
	path = Luna/vendor/ImGui
	url = https://github.com/410oldfish/imgui
